.top-section{
     padding: 20px;;
}
.main-title{
    color:#FFF;
    font-size: 62px;
}
.main-text{
    font-size: 16px;
    text-align: justify;
    color:#FFF;
    width: 700px;
}
.img-student{
    width: 80%;
}
.btn-more{
    text-decoration: none;
    border-radius: 12px;
    padding: 12px;
    border: none;
    background: #071c4e;
    color: #fff;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 12px 0;
    font-size: 16px;
}
.smoothy-title{
    font-size: 30px;
    color: #FFF;
}

.smoothy-img{
width: 80%;
}
.cert-img{
    width: 150px;
    display: flex;
    margin: auto;
}
.try-btn{
    color: #fff;
    background-color: #83277f;
    border: none;
    border-radius: 12px;
    display: flex
;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
    width: 300px;
    padding: 12px 0;
    cursor: pointer;
    font-size: 16px;
}

.curr-img{
    width: 50%;
}

.commu-img{
    width: 80%;
}